/* TODO: Add your app CSS here */
body {
  margin:0;
  -webkit-perspective: 2000;
  background: black;
}

#curtain {
  position: absolute;
  top: 0;
  left:0;
  width: 1024px;
  height: 1024px;
  background: black;
  z-index: 0;
  -webkit-transform: translate3d(0,0,0);
}

.photo {
  position:absolute;
  z-index: 1;
  -webkit-perspective: 2000;
}

.photo .content-wrapper {
  position: absolute;
  top:50%;
  left:50%;
  
  width:256px;
  height: 256px;
  
  margin-top: -128px;
  margin-left: -128px;
}

.photo img {
  z-index:1;
  position:absolute;
  background: black;
}

.details {
  -webkit-transform-origin: 100% 50%;
  width:250px;
  margin-left:-250px;
}

.username {
  padding:10px;
  background: #fff000;
  font-size: 18px;
  font-family: "Helvetica Neue";
  font-weight: bolder;
  z-index:20;
  -webkit-transform: translate3d(0,0,0);
  margin-top:10px;
}

.title {
  padding:10px;
  background: #fff000;
  font-size: 14px;
  font-family: "Helvetica Neue";
  z-index:20;
  -webkit-transform: translate3d(0,0,0);
  max-height:50px;
}
