[submodule "vendor/sproutcore20"]
	path = vendor/sproutcore20
	url = https://github.com/sproutcore/sproutcore20.git
[submodule "vendor/TransformJS"]
	path = vendor/TransformJS
	url = https://github.com/sproutcore/TransformJS.git
[submodule "vendor/sproutcore-touch"]
	path = vendor/sproutcore-touch
	url = https://github.com/sproutcore/sproutcore-touch.git
[submodule "vendor/coffee-script"]
	path = vendor/coffee-script
	url = https://github.com/getbpm/coffeescript-bpm.git
